<!DOCTYPE html>
<html lang="en" ng-app="dlte">
<head>
<!-- <base href="http://hometlt.sytes.net:5001/"> -->
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="Deep Learning Text Editor">
<meta name="author" content="max8mk">
<title>Deep Learning Text Editor</title>
<!-- Bootstrap Core CSS -->
<link rel="stylesheet" href="/static/bootstrap-3.3.6-dist/css/paper.bootstrap.min.css" type="text/css">
<!-- jQuery -->
<script src="/static/jquery-2.2.1.min.js"></script>
<!-- Bootstrap Core JavaScript -->
<script src="/static/bootstrap-3.3.6-dist/js/bootstrap.min.js"></script>
<!-- Angular JS -->
<script src="/static/angular/angular.min.js"></script>
<script src="/static/angular/angular-route.min.js"></script>



<!-- AppScript									 -->
<script src="/static/appAngular.js"></script>

<!-- Angular addons -->
<script src="/static/angular/angular-busy.min.js"></script>
<link rel="stylesheet" href="/static/angular/angular-busy.min.css" >

<script src="/static/angular/ng-scrollbar.min.js"></script>
<link rel="stylesheet" href="/static/angular/ng-scrollbar.min.css" >

<!-- Font awesome -->
 <link rel="stylesheet" type="text/css" href="/static/fonts/font-awesome/css/font-awesome.min.css">
 
 <!-- File Util -->
 <script src="/static/file_util/docxModTable.js"></script>
 <script src="/static/file_util/jszip.min.js"></script>

</head>
 <body ng-controller="appController">
							<div  class="scrollme" ng-scrollbar>
  <nav class="navbar navbar-inverse navbar-fixed-top ">
                   
                        <div class="navbar-header ">
                            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
							<a class="navbar-brand" href="#doc" ng-click="setSelector('doc')">Deep Learning Text Editor</a>
                        </div>
						 <div class=" container">
						 
                        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
                            <ul class="nav navbar-nav">
								 <li ng-click="setSelector('doc')" ng-class="{active:getSelector() == 'doc'}" ><a href="#doc" >Обработка документов</a></li>
                                 <li ng-click="setSelector('demo')" ng-class="{active:getSelector() == 'demo'}" ><a href="#demo" >Demo</a></li>
								 <li ng-click="setSelector('dataprepare')" ng-class="{active:getSelector() == 'dataprepare'}" ><a href="#dataprepare" >Подготовка данных</a></li>
                            </ul>
                        </div>
                    </div>
                </nav>
            
            <div class="container" style="margin-top: 70px"  >        
                <div ng-view></div>    
            </div>

</div>
						
</body>
</html>