<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="Deep Learning Text Editor Algoritm - Demo">
<meta name="author" content="max8mk">
<title>Deep Learning Text Editor Algoritm - Demo</title>
<!-- Bootstrap Core CSS -->
<link rel="stylesheet" href="/static/bootstrap-3.3.6-dist/css/bootstrap.min.css" type="text/css">
<!-- jQuery -->
<script src="/static/jquery-2.2.1.min.js"></script>
<!-- Bootstrap Core JavaScript -->
<script src="/static/bootstrap-3.3.6-dist/js/bootstrap.min.js"></script>

</head>
<body>

								<div class="container">
									<div>
										<h1>Deep Learning Text Editor Algoritm - Demo</h1>
									</div>

									<div class="form-group row" style="margin-top: 20px">
										<div class="col-lg-10">
											<textarea class="form-control" rows="5" id="textArea1" name='textArea1'></textarea>
											<span class="help-block">Введите текст и нажмите "Преобразовать" или клавишу Enter</span>
										</div>
									</div>

									<div>
										<a href="#" class="btn btn-primary btn-lg" id="convert">Преобразовать</a>
										<a href="#" class="btn btn-primary btn-lg" id="example1">Пример 1</a>
										<a href="#" class="btn btn-primary btn-lg" id="example2">Пример 2</a>
									</div>



									<div class="form-group row" style="margin-top: 20px">
																			<div class="col-lg-10">
											<textarea class="form-control" rows="5" id="textArea2"></textarea>
											<span class="help-block">Преобразованный текст</span>
										</div>
									</div>

								</div>



								
	<script src="/static/app.js"></script>							
</body>
</html>