<style>
.btn-file {
  position: relative;
  overflow: hidden;
}
.btn-file input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 100px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  background: red;
  cursor: inherit;
  display: block;
}
input[readonly] {
  background-color: white !important;
  cursor: text !important;
}

 table { table-layout: fixed; }
 table th, table td { overflow: hidden; }
</style>

<div class="container" cg-busy="{promise:myPromise,message:'Loading',backdrop:true,templateUrl:'static/template/modalBusy_anim.html'}">
	<div>
		<h1>Обработка документов</h1>
	</div>
	<div class="row" style="margin:0px">
        <span class="file-input btn btn-primary btn-file btn-lg" style="margin-bottom:10px; margin-top: 10px">
			Загрузить файл <input type="file" multiple id="file"  onchange="angular.element(this).scope().loadDocument()">
        </span>	
		<a class="btn btn-primary btn-lg" ng-click="convertDoc()">Преобразовать</a>
	</div>

	<div class="row">
		<div class="col-lg-12" ng-show="fileContent.length!=0">
			<table class="table table-striped table-hover">
				<thead>
					<tr>
					  <th style="width: 2%">{[fileHeadind.col1]}</th>
					  <th style="width: 15%">{[fileHeadind.col2]}/{[fileHeadind.col4]}</th>
					  <th style="width: 40%">{[fileHeadind.data[0].input]}</th>
					  <th style="width: 40">{[fileHeadind.data[0].input]} (Преобразованный)</th>
					  <th style="width: 6%"></th>
					</tr>
				</thead>
				<!-- <tbody>
					<tr ng-repeat="docx in fileContent">
					  <td>{[docx.col1]}</td>
					  <td>{[docx.col2]}</td>
					  <td>
						<div ng-repeat="rowStr in docx.inputText[0] track by $index">
							<textarea type="text" class="form-control" rows="{[rowStr.length/30+1]}" ng-model="rowStr" ></textarea>  
						</div>
					  </td>
					  <td>
						<div ng-repeat="rowStr2 in docx.outText track by $index">
							<textarea type="text" class="form-control" rows="{[rowStr2.length/30+1]}" ng-model="rowStr2" ></textarea>  
						</div>
					  </td>
					  <td>{[docx.col4]}</td>
					</tr>  
				</tbody> -->
				
				<tbody>
					<tr ng-repeat-start="docx in fileContent">
					  <td rowspan="{[ docx.data.length+1]}">{[docx.col1]}</td>
					 <td rowspan="{[ docx.data.length+1]}">{[docx.col2]}</br>{[docx.col4]}</td>
					</tr>  
					<tr ng-repeat-end ng-repeat="rows in docx.data track by $index">
						<td>
							<textarea type="text" class="form-control" rows="{[rows.input.length/30+1]}" ng-model="rows.input" >						
							</textarea>  
						</td>
						<td>
							<textarea type="text" class="form-control" rows="{[rows.input.length/30+1]}" ng-model="rows.out" >						
							</textarea>  
						</td>
						<td>
						<a ng-click='mergeRow($parent.$index,$index)' 
							class="btn btn-link" data-toggle="tooltip" title="Объединить со следующей строкой" style='padding: 2px;'><span class="glyphicon glyphicon-plus-sign" style='color: green;
    font-size: 20px;'></span></a>
	
							<a ng-click='removeRow($parent.$index,$index)' 
							class="btn btn-link" data-toggle="tooltip" title="Удалить выбранную строку" style='padding: 2px;'><span class="glyphicon glyphicon-remove-circle" style='    color: red;
    font-size: 20px;'></span></a>
							
							
	
						</td>
					</tr>
				</tbody>
				
			</table> 
		</div>
	</div>
</div>
